@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@200;300&display=swap');

*{
    margin: 0% ;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body{
  height: 100vh;
  
} 
.container{
    height: 100vh;
}
.left{
    width: 25vw;
}
.right{
    width: 75vw;
    position: relative;
}
.home{
    padding: 10px;
}
.home ul li{
    display: flex;
    gap: 15px;
    list-style: none;
    width: 20px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    list-style: none;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img{
    width: 30px;
}
.library{
    min-height: 80vh;
    
    position: relative;
}
.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a{
    color: grey;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.spotifyPlaylist .card{
    width: 200px;
    padding: 10px;
    margin: 3px;
    background-color: #363131;
    position: relative;
}
.cardContainer{
    display: flex;
    margin: 25px;
    display: flex;
    margin: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 70vh;
    overflow-y: scroll;
  
}
   
.card > *{
    padding-top: 10px;
    width: 200px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play {
    width: fit-content;
    position: absolute;
    top: 168px;
    left: 172px;
   
}

.loginbtn{
background-color: white;
border-radius: 21px;
color: black;
font-weight: bold;
padding: 10px;
width: 79px;
cursor: pointer;
}
.loginbtn:hover{
    font-weight: bold;
}
.signupbtn{
    background-color: black;
    border-radius: 21px;
    color: rgb(210, 195, 195);
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}
.playbar{
    position: absolute;
    bottom: 0;
    background-color: gray;
    width: 100%;
    padding: 12px;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 15px;px;
}

.songList ul li{
    list-style: none;
  
}
.songList ul{
    padding: 0px 12px;
}