@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@200;300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    border-style: border-box;
}

:root {
    --a: 0;
}

/* Track */
::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a19595;
    /* color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #474444;
    /* color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
    background: #8b6464;
    /* color of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
    background: background: #8b6464;
    /* color of the scrollbar track */
    ;
    /* color of the scrollbar track on hover */
}

/* Corner */
::-webkit-scrollbar-corner {
    background: #fff;
    /* color of the scrollbar corner (where two scrollbars meet) */
}


body {

    height: 100vh;

}

.container {
    height: 100vh;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
    position: relative;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 20px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 100%;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
}

.heading img {
    width: 30px;
}

.library {
    height: 67vh;

    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: -5px;
    padding: 10px;
}

.footer a {
    color: grey;

}

.header {
    display: flex;
    justify-content: space-between;
}

.spotifyPlaylist .card {
    width: 150px;
    padding: 10px;
    margin: 3px;
    background-color: #363131;
    position: relative;
    transition: all .7s;

}

.card:hover {
    background-color: black;
    cursor: pointer;
    --a: 1;

}

.cardContainer {
    display: flex;
    margin: 25px;
    display: flex;
    margin: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 70vh;
    overflow-y: scroll;

}

.card>* {
    padding-top: 10px;
    width: 200px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: fit-content;
    position: absolute;
    top: 168px;
    left: 125px;
    opacity: var(--a);

}

svg {
    width: 35px;
    height: 40px;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
}

.signupbtn {
    background-color: black;
    border-radius: 21px;
    color: rgb(210, 195, 195);
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.playbar {
    position: absolute;
    bottom: 15px;
    background-color: #000000;
    width: 60%;
    padding: 12px;
    /* margin-left: 162px; */
    right: 20%;
    left: 16%;
    height: 50px;
    border-radius: 10px;

}

.volume {
    position: absolute;
    right: 1px;
    /* top: 25px; */
    /* margin-left: 439px; */
    display: flex;
    gap: 5px;
    /* width: 29px; */
    /* margin-right: -28px; */
    align-items: center;
    /* flex-direction: row; */
    justify-content: space-evenly;

}

.songbutton {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.songList {

    height: 380px;
    overflow: auto;
    margin-bottom: 44px;

}

.songinfo {
    position: relative;
    bottom: 10px;
    font-size: large;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;

}

.songList ul {
    padding: 12px 12px 12px 12px;
    top: -10px;
    bottom: 36px;
    position: relative;
}

.seekbar {
    cursor: pointer;
    position: relative;
    bottom: -50px;
    height: 5px;
    border-radius: 10px;
    background: #b29797;
}

.songbutton.invert {
    position: relative;
    bottom: 26px;
}

.songtime {
    position: relative;
    font-size: 12px;
    bottom: -5px;
}

.circle {
    cursor: pointer;
    ;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.close {
    padding-top: 5px;
    padding-left: 5px;
    position: absolute;
    right: 20px;
}

.songbutton {
    cursor: pointer;
}

@media (max-width: 768px) {
    .left {
        background-color: black;
        position: absolute;
        left: -100%;
        transition: all .5s;
        z-index: 1;
        width: fit-content;
    }

    .right {
        width: 100vw;
    }
}

@media (max-width: 500px) {
    .spotifyPlaylist .card {
        min-width: fit-content;


    }
}